<div class="footer-sticky">
    <div class="container-fluid">
        <div class="line-light">
            <nav class="navbar-dark navbar-expand-md py-0 sticky-top">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link footer-link" href="{{ '/' | relative_url }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer-link" href="https://twitter.com/" target="_blank">Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer-link" href="https://www.youtube.com/" target="_blank">Youtube</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer-link" href="https://www.tiktok.com/" target="_blank">TikTok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer-link" href="https://www.instagram.com/" target="_blank">Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer-link" href="https://www.facebook.com/" target="_blank">Facebook</a>
                    </li>
                </ul>
            </nav>
        </div>
        <br>
        <h6>This site was created for QMES by the QMES team, EST 2024</h6>
    </div>
</div>